<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="closeModal()">
      <ion-button color="secondary">
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <h1>Pick-up</h1>
  </ion-item>
  <ion-searchbar placeholder="e.g Araria Bihar" class="background-transparent" [(ngModel)]="searchItem"
    [showCancelButton]="true" (ionInput)="searcOnChnage()" (ionCancel)="dismiss()" selected="true" autofocus="true">
  </ion-searchbar>

  <ion-card *ngIf="searchItem !== ''">
    <ion-list style="box-shadow: 0 0px 6px #bdbdbd!important;">

      <ion-item *ngFor="let item of autocompleteItems" class="item-requset-ride" tappable (click)="chooseItem(item)">
        <ion-icon ios="ios-pin" md="md-pin" slot="start" color="secondary"></ion-icon>
        <ion-label>
          <h2>{{item}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-item *ngIf="searchItem == '' " class="item-requset-ride" tappable (click)="getCurrentLocation('pickup')">
    <ion-icon name="locate" slot="start" color="secondary"></ion-icon>
    <ion-label>
      <h2>Use current location</h2>
    </ion-label>
  </ion-item>

</ion-content>