<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex">
    <div class="image_Div">
      <ion-img src="../../assets/image/a.jpg"></ion-img>
    </div>
    <ion-list>
      <ion-item>
        <ion-label text-center>
          <ion-text text-wrap>{{book}}</ion-text>
        </ion-label>
      </ion-item>
      <ion-item class="width" (click)="gotoPrice()">
        <ion-button expand="full" fill="clear" class="width">
          <ion-icon name="arrow-forward" expand="icon-only" color="secondary" slot="end" mode="ios"></ion-icon>
          <p class="sureItem">Yeah, sure!</p>
        </ion-button>
      </ion-item>

      <ion-item class="width" (click)="gotoPrice()">
        <ion-button expand="full" fill="clear" class="width">
          <ion-icon name="arrow-forward" expand="icon-only" color="secondary" slot="end" mode="ios"></ion-icon>
          <p color="medium" class="reply">No, i'll reply to each request myself</p>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>