<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title text-capitalize>forgot password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="flex">
    <ion-item margin-vertical>
      <ion-text color="dark">Please enter the email you signed up with, we will send you a link to change your password.
      </ion-text>
    </ion-item>
    <ion-item margin-bottom>
      <ion-label position="stacked" color="medium">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-button (click)="gotoLoginformHome()" margin-top expand="round" color="secondary" type="submit" text-capitalize>
      submit</ion-button>
  </ion-list>
</ion-content>